{% extends 'base.html' %}

{% block head %}
    <title>Publicación</title>
{% endblock head %}

{% block main_content %}
    <h1>
        {{object.title}}
    </h1>
    <h2>
        {{object.subtitle}}
    </h2>
    <h5>
        {{object.author}} - {{object.date}} 
    </h5>
    <img src={{object.imagen.url}} alt="" height='200'>
    {% autoescape off %}
    <p>{{object.body}}</p>
    {% endautoescape %}
    {% comment %} <p>{{object.body | safe}}</p> {% endcomment %}
    <p>
        <a href={% url 'blog:update_page' object.id %}>Editar</a>
        <a href={% url 'blog:delete_page' object.id %}>Eliminar</a>
    </p>
{% endblock main_content %}