{% extends 'base.html' %}

{% block head %}
    <title>Posts</title>
{% endblock head %}

{% block main_content %}
    <h2>Posts:</h2>
    <a href={% url 'blog:create_page' %}>Create post</a>
    {% if page_obj %}
        {% for post in page_obj %}
            <li>
                {{post.title}} || <a href={% url 'blog:details_page' post.id %}>more...</a>
            </li>
        {% endfor %}
        {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
    {% else %}
        <p>No post to display yet, create one!</p>
    {% endif %}
{% endblock main_content %}