{% extends 'base.html' %}
{% load humanize %}
{% load l10n %}

{% block head %}
    <title>Perfil</title>
{% endblock head %}

{% block main_content %}

    <p>{{request.user.username}}</p>
    <p>{{request.user.email}}</p>
    <p>{{request.user.first_name}} {{request.user.last_name}}</p>
    
    <p>{{request.user.myuser.birthday | naturalday }}</p>
    {% if request.user.myuser.avatar %}
    <img src={{request.user.myuser.avatar.url}} alt="" height='200'>
    {% endif %}


    <a href={% url 'account:update_profile' %}>Editar</a>
{% endblock main_content %}